{{ define "mobile/simple/get.tmpl" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{{ .title }}</title>
    <style>
        body{
            text-align: center;
            color: blue;
        }

    </style>
</head>
<body>
    <h1>{{ .content }}</h1>
    <p>时间: {{ .nowDate }}</p>
    <p class="theme">主题: mobile</p>
    <p>模板: default/mobile/get.tmpl</p>
</body>
</html>
{{end}}}